/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px dashed red; */

}



/* Colors */
:root {
    --header-bg-color: #ff6900;
    --section-bg-color: #ebece9;
    --footer-bg-color: #1a1a1a;

}


/* Utils */

.container {
    max-width: 1200px;
    margin: 0 auto;
    /* width: 80%; */
}

.d-flex {
    display: flex;

}


/* Generics */

body {
    font-family: helvetica, sans-serif;

}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}



/* Header */

header {
    padding: 1.2rem;
    background-color: var(--header-bg-color);
    justify-content: space-between;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;

}

.header-list {
    gap: 0.5rem;


}

.navbar {
    min-height: 70px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}


.header-icons {
    gap: 0.5rem;
    color: white;

}

img {
    max-width: 100%;
}


#logo {

    width: 100px;
}

/* Main */



.row {

    flex-wrap: wrap;
    margin: 1rem -1rem;

}

.col-4 {
    width: calc(100% / 12 * 4);
    padding: 1rem;
}

.card {
    position: relative;
    top: 0;


}


.red {
    color: red;
    font-size: 0.8rem;
    font-weight: bold;
}

.deleted {
    text-decoration: line-through;
    font-size: 0.8rem;

}

.discount {

    background-color: red;
    padding: 5px 6px;
    text-align: center;
    color: white;
    position: absolute;
    bottom: 100px;
    left: 0px;
    font-size: 0.8rem;
    font-weight: bold;
}


.sostenibility {
    background-color: #008000;
    text-align: center;
    padding: 5px 6px;
    color: white;
    position: absolute;
    bottom: 100px;
    left: 42px;
    font-size: 0.8rem;
    font-weight: bold;
}


#sostenibility-left {
    background-color: #008000;
    text-align: center;
    padding: 5px 6px;
    color: white;
    position: absolute;
    bottom: 100px;
    left: 0px;
    font-size: 0.8rem;
    font-weight: bold;
}



.heart {

    background-color: white;
    position: absolute;
    top: 5px;
    right: 0;
    padding: 15px 10px;
}


/* Footer */